[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bridgedist"]
	path = bridgedist
	url = https://github.com/swihart/bridgedist
[submodule "event"]
	path = event
	url = https://github.com/swihart/event
[submodule "gnlm"]
	path = gnlm
	url = https://github.com/swihart/gnlm
[submodule "growth"]
	path = growth
	url = https://github.com/swihart/growth
[submodule "libstable4u"]
	path = libstable4u
	url = https://github.com/swihart/libstable4u
[submodule "mvgb"]
	path = mvgb
	url = https://github.com/swihart/mvgb
[submodule "mvpd"]
	path = mvpd
	url = https://github.com/swihart/mvpd
[submodule "repeated"]
	path = repeated
	url = https://github.com/swihart/repeated
[submodule "rmutil"]
	path = rmutil
	url = https://github.com/swihart/rmutil
[submodule "stable"]
	path = stable
	url = https://github.com/swihart/stable
